<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inicio</title>
  </head>
  <body>
    <h1>Bienvenido a la Gestión de Libros</h1>
    <a href="./lista_libros.ejs">Ver Lista de Libros</a>
    <br />
    <a href="./autores_create.ejs">Agregar Autor</a>
    <br />
    <a href="./libro_create.ejs">Agregar Libro</a>
  </body>
</html>