<%- include('partials/header') %>

  <body>
    <h1>Bienvenido a la Gestión de Libros</h1>
    <a href="/lista">Ver Lista de Libros</a>
    <br />
    <a href="/lista">Ver Lista de autores</a>
    <br />
    <a href="./crear_autor">Agregar Autor</a>
    <br />
    <a href="./crear_libro">Agregar Libro</a>
  </body>
</html>

<%- include('partials/footer') %>
