<%- include('partials/header') %>

  <body>
    <h2 class="titulo">Bienvenido a la Gestión de Libros</h2>
    <h3 class="subtitulo"> ¿Que deseas hacer?</h3>
    <a class="a" href="/lista">Ver Lista de Libros</a>

    <a class="a" href="/lista">Ver Lista de autores</a>
 
    <a class="a" href="./crear_autor">Agregar Autor</a>
    
    <a class="a" href="./crear_libro">Agregar Libro</a>
  </body>
</html>

<%- include('partials/footer') %>
