<%- include('partials/header') %>

<h1>Imágenes</h1>
<img src="/upload/part3.jpg" alt="Imagen 1">
<img src="/upload/error.jpg" alt="Imagen 2">
<img src="/upload/elen.jpg" alt="Imagen 3">


<%- include('partials/footer') %>
