<%- include('partials/header') %>

<main>
  <form action="/autor/<%= autorId %>/libro" class="contenedor" id="formLibro" method="post" enctype="multipart/form-data">
    <h2 class="titulo">Agregar libro</h2>
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" name="titulo" placeholder="Título">
    </div>
    <div class="form-group">
      <label for="fecha_publicacion">Fecha de publicación</label>
      <input type="date" id="fecha_publicacion" name="fecha_publicacion">
    </div>
    <div class="form-group">
      <label for="numero_pag">Número de páginas</label>
      <input type="number" id="numero_pag" name="numero_pag" placeholder="Número de páginas">
    </div>
    <div class="form-group">
      <label for="genero">Género</label>
      <select id="genero" name="genero">
          <option value="Romance">Romance</option>
          <option value="Terror">Terror</option>
          <option value="Biografia">Biografia</option>
          <option value="Policial">Policial</option>
          <option value="Historia">Historia</option>
          <option value="Ciencia">Ciencia</option>
          <option value="Fantasia">Fantasia</option>
          <option value="Ciencia_ficcion">Ciencia ficcion</option>
          <option value="Autobiografia">Autobiografia</option>
          <option value="Memorias">Memorias</option>
          <option value="Poesia">Poesia</option>
      </select>
  </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="text" id="precio" name="precio" placeholder="Precio del libro">
    </div>
    <div class="form-group">
      <label for="portada">Portada</label>
      <input type="file" id="portada" name="portada">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" name="descripcion" placeholder="Descripción" class="descripcion"></textarea>
    </div>
    <input type="submit" value="Crear" class="boton_enviar">
    <input type="button" value="Cancelar" class="boton_cancelar">
  </form>
  <script src="/js/crear_libro.js"></script>
</main>

<%- include('partials/footer') %>
