<%- include('partials/header') %>

    <h1>Lista de autores</h1>
    <div class="container">
      <div class="row mt-5">
        <h1 class="text-center border-botton">Lista de autores</h1>
        <div class="col">
          <div class="col-md-3 mb-2">
            <a href="/crear_autor" class="btn btn sm btn-primary" id>Nuevo autor </a>
            <a href="/crear_libro" class="btn btn sm btn-primary" id>Nuevo libro </a>
            <a href="/" class="btn btn-info text-light">Inicio</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Bibliografia</th>
              </tr>
            </thead>   
           
    
            <tbody id="listadoautor"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="js/lista_autor.js"></script>


<%- include('partials/footer') %>
    