<%- include('partials/header') %>

    <h2 class="titulo">Lista de Libros</h2>
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <div class="col-md-3 mb-2">
            <a href="/crear_autor" class="btn btn sm btn-primary" id>Nuevo autor </a>
            <a href="/crear_libro" class="btn btn sm btn-primary" id>Nuevo libro </a>
            <a href="/" class="btn btn-info text-light">Inicio</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>titulo</th>
                <th>fecha_publicacion</th>
                <th>numero_paginas</th>
                <th>precio</th>
                <th>genero</th>
                <th>portada</th>
                <th>Descripcion</th>
              </tr>
            </thead>   
           
    
            <tbody id="listadoLibro"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="js/lista_libro.js"></script>


<%- include('partials/footer') %>
    
  