 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Agregar libro</title>

</head>
<body background="../img/fondo.jpg">
  <header>
    <div>
    <h1 class="titulo-principal">Biclioteca</h1>
    <img src="../img/libros.jpg" alt="Libros" class="titulo-imagen ">
    </div>
    <nav>
     <ol>
        <a href="/">home</a>
        <a href="/crear_autor">agregar autores</a>
        <a href="/crear_libro">agregar libro</a>
        <a href="/lista">libros</a>
     </ol>
    </nav>
  </header>